MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=blog_db
JWT_SECRET=super_secret_jwt_key_silakan_ganti_dengan_string_acak_panjang_123456789
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
PROJECT_NAME="Modern DevBlog Platform"
